.main-login-page {
  // background-image: url("https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?ixlib=rb-1.2.1&auto=format&fit=crop&w=1349&q=80");
  // height: 100vh;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // display: flex;
  // align-items: center;
}

.carousel {
  position: absolute;
  z-index: -1;
}

.gradient {

}

.carousel-background-image {
  max-height: 100vh;
  width: 100vw;

}

.big-box {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.text-holder {
  color: white;
}

.btn-login {
  width: 100%;
  border-radius: 8px;
  padding: auto 5px;
  font-weight: bold;
}

.btn-login {
  background-color: transparent;
  color: white;

  border-radius: 8px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-login:hover {
  opacity: .8;
}

#new_user > div.form-actions.btn.btn-light.mb-3 > input {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-fly{
  background: rgba(51, 51, 51, 0.3);
  padding:40px;
  border-radius:16px;
  color:white;
}
